/* adding css reset code in the start of the file as request*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* this is the body wrapper to add the top margin*/
.wrapper {
    width: 100%;
}

/* styling header */
header {
    background-color: #222222;
}

/* adding the left and right margin for heading */
.header {
    border: 20px solid #222;
}

* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* styling body font */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5em;


}

.logo {
    background-color: #c58a09;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* styling the meun on the homepage */
ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

/* add padding and align text on the meun */
ul li {
    padding: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

/* adjust background color and font color for the first list item */
ul li:nth-child(1) {
    color: #222;
    background-color: #c78c06;
}

/* styling nav buttons */
.nav a:link, a:visited {
    text-decoration: none;
    color: #c78c06;
}

/* styling search class */
.search {
    padding: 1rem;
}

/* style the search field */
.search input[type=text] {
    padding: 1rem;
    border: 1px solid #c78c06;
    float: left;
    width: 90%;
    background: #fff;
  }

  /* Style the submit button */
.search button {
    float: left;
    width: 10%;
    padding: 1rem;
    background: #222;
    color: #c78c06;
    border: 1px solid #c78c06;
    cursor: pointer;
  }
  
.search button:hover {
    background: #c78c06;
    color: #222;
  }

  /* Clear floats */
.search::after {
    content: "";
    clear: both;
    display: table;
  }

/* class home holding the main banner and the main banner content */
.home {
    position: relative;
    text-align: left;
    color: white;
}

.home img{
    max-width: 100%;
}

.main-banner h1 {
    font-size: 3rem;
    line-height: 3rem;
}

.main-banner p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* styling the main banner content */
.main-banner {
    position: absolute;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    top: 100px;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.5); 
}

/* styling the main banner button */
.connect {
    background-color: #c78c06; /* Green */
    border: none;
    color: #222;
    padding: 30px 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-size: 1rem;
  }

.about {
    background-color: #ffe6ac;
}

.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 95%;
}

.about p {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.about h2,
.service h2,
.teams h2,
.contact h2{
    font-size: 2.5rem;
    font-weight: bolder ;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.service,
.teams,
.contact {
    margin-top: 1rem;
    background-color: #fff;
}

.service img,
.teams img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.service div,
.teams div {
    background-color: #ffe6ac;
}

.service p, h3,
.teams h3, h4 {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.teams p {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

.service button {
    margin: 10px;
}

.web-digital,
.web-marketing,
.web-video,
.web-web,
.web-print,
.team-john,
.team-bob {
    margin: 10px;
}

.web-digital h3,
.web-marketing h3,
.web-video h3,
.web-web h3,
.web-print h3,
.team-john h3,
.team-bob h3,
.contact h3,
.hours h3,
.map h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 20px;
}

.team-john h4,
.team-bob h4 {
    font-size: 14px;
    font-weight: bold;
}

.digital,
.marketing,
.video,
.web,
.print {
    background-color: #222; /* Green */
    border: none;
    color: white;
    padding: 30px 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-size: 1rem;;
  }

  .visions {
    position: relative;
    width: 100%;
    height: auto;
    color: #fff;
  }

  .visions img {
      width: 100%;
      height: 300px;
      object-fit: cover;
  }

  .visions-main {
      position: absolute;
      top: 10px;
      left: 20px;
  }

  .visions h2 {
    font-size: 2rem;
    font-weight: bolder ;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
  }

  .visions p {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
  }

  .more  {
    background-color: #222; /* dark gery */
    opacity: 0.9;
    border: 1px solid #c58a09;
    color: white;
    padding: 30px 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-size: 1rem;;
  }

  .info label {
      display: block;
  }

  .info input, textarea {
      width: 100%;
  } 

  .info textarea {
      height: 150px;
  }

  .contact div {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
  }

  .contact button {
    background-color: #222; /* dark gery */
    border: none;
    color: #c78c06;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-size: 1rem;;
  }

  table, th, td {
      border: 1px solid #222;
      height: 50px;
  }

table {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
  }

.hours tr:first-child {
    background-color: #ffe6ac;
}

.hours {
    margin: 10px;
}

.hours h3 {
    padding-left: 0;
}

.map iframe {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    background-color: #222;
    color: #c78c06;
    padding: 20px;
    line-height: 2rem;
}
